@import 'tailwindcss';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@custom-variant dark (&:is(.dark *));
